* {
  margin: 0;
  padding: 0;
}

input {
  all: unset;
}

button {
  all: unset
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
}

.sidebar {
  background-color: rgb(41, 162, 232);
}

.sidebar-grid {
  display: grid;
  gap: 60px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  grid-row: 1 / 2;
  align-self: start;
}

.nav-heading .icon {
  width: 40px;
  height: 43px;
  top: 12px;
  padding-right: 10px;
}

.top-links ul,
.bottom-links ul {
  display: grid;
  gap: 16px;
}

li {
  list-style-type: none;
}

.icon {
  position: relative;
  top: 4px;
  padding-right: 20px;
  width: 22px;
  height: 22px;
}

.top-links,
.bottom-links {
  padding-left: 25px;
}

.nav-heading {
  padding: 25px 0 0 15px;
}

.search img { 
  max-width: 22px;
  position: relative;
}

.header-top-row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 40px 150px 0 60px;
}

.search {
  display: flex;
  gap: 15px;
}

.search input[type="search"] {
  border-radius: 20px;
  width: 700px;
  background-color: rgb(237, 237, 237);
  border: none;
  height: 5px;
  padding: 15px;
}

.search input:focus {
  border: none;
  box-shadow: 1px 1px 5px rgb(189, 189, 189);
}

.top-row-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.bell {
  max-width: 22px;
}

.top-row-right .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.top-row-right p {
  font-weight: bold;
  font-size: 18px;
  padding-left: 15px;
}

.header-bottom-row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 130px 0 60px;
}

.bottom-row-left {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 400px;
  align-items: center;
}

.bottom-row-left .profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

button {
  width: 100px;
  height: 40px;
  background-color: rgb(41, 162, 232);
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  color: #000;
}

.bottom-row-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  border-style: none;
}

.header {
  height: 20%;
  position: relative;
  padding-bottom: 15px;
  box-shadow: 1px 1px 5px rgb(170, 170, 170);
  box-sizing: border-box;
}

.greeting {
  display: grid;
  gap: 3px;
}

.name { 
  font-size: 22px;
  font-weight: bold;
}

.main-content {
  background-color: rgb(231, 231, 231);
  padding: 30px 0 0 25px;
  height: 80%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.projects {
  width: 70%;
}

.projects-grid {
  margin-top: 10px;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.projects-grid div {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  border-left: 8px solid rgb(245, 214, 34);
}

.main-page {
  height: 100vh;
  box-sizing: border-box;
}
