* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
}

.sidebar {
  background-color: rgb(41, 162, 232);
}

.sidebar-grid {
  display: grid;
  gap: 60px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  grid-row: 1 / 2;
  align-self: start;
}

.heading .icon {
  width: 40px;
  height: 43px;
  top: 12px;
  padding-right: 10px;
}

.top-links ul,
.bottom-links ul {
  display: grid;
  gap: 16px;
}

li {
  list-style-type: none;
}

.icon {
  position: relative;
  top: 4px;
  padding-right: 20px;
  width: 22px;
  height: 22px;
}

.top-links,
.bottom-links {
  padding-left: 25px;
}

.heading {
  padding: 25px 0 0 15px;
}